rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /questoes/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Usuarios/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Usuarios/{parent}/dados/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/dados/{document} {
      allow read: if true;
    }


    match /questoes/{parent}/Q1/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/Q1/{document} {
      allow read: if true;
    }

  }
}
